<div class="container">
    <div class="row mt-3">
        <div class="col-xxl-12 d-flex justify-content-center text-white">
            <h1>Reviews for {{ rest }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 d-flex justify-content-center">
            <img [src]="src" class="img-fluid" alt="restaraunt photo">
        </div>
    </div>
    <br><br>
    <!-- <div class="row justify-content-center">
        <div class="col-lg-4">
            <mat-divider></mat-divider>
        </div>
    </div> -->
    <div id="reviews">
        <div class="row mt-3 justify-content-center" *ngFor="let review of reviews$ | async;">
            <div class="col-lg-4 text-white">
                <mat-card>
                    <mat-icon class="text-primary">person_outline_icon</mat-icon>
                    <span>{{ review.username }} - </span>
                    <!-- stars begin-->
                    <div class="stars text-warning">
                        <mat-icon *ngIf="review.stars>0">star</mat-icon>
                        <mat-icon *ngIf="review.stars>1">star</mat-icon>
                        <mat-icon *ngIf="review.stars>2">star</mat-icon>
                        <mat-icon *ngIf="review.stars>3">star</mat-icon>
                        <mat-icon *ngIf="review.stars>4">star</mat-icon>
                        <mat-icon *ngIf="!(review.stars>0)">star_border_icon</mat-icon>
                        <mat-icon *ngIf="!(review.stars>1)">star_border_icon</mat-icon>
                        <mat-icon *ngIf="!(review.stars>2)">star_border_icon</mat-icon>
                        <mat-icon *ngIf="!(review.stars>3)">star_border_icon</mat-icon>
                        <mat-icon *ngIf="!(review.stars>4)">star_border_icon</mat-icon>
                    </div>
                    <!-- stars end -->
                    <p>{{ review.review }}</p>
                </mat-card>
                <br>
                <mat-divider></mat-divider>
            </div>
        </div>
        <div class="row mt-3 justify-content-center" *ngFor="let submittedReview of submittedReviews;">
            <div class="col-lg-4 text-white">
                <mat-card>
                    <mat-icon class="text-primary">person_outline_icon</mat-icon>
                    <span>{{ submittedReview.username }} - </span>
                    <!-- stars begin-->
                    <div class="stars text-warning">
                        <mat-icon *ngIf="submittedReview.rating>0">star</mat-icon>
                        <mat-icon *ngIf="submittedReview.rating>1">star</mat-icon>
                        <mat-icon *ngIf="submittedReview.rating>2">star</mat-icon>
                        <mat-icon *ngIf="submittedReview.rating>3">star</mat-icon>
                        <mat-icon *ngIf="submittedReview.rating>4">star</mat-icon>
                        <mat-icon *ngIf="!(submittedReview.rating>0)">star_border_icon</mat-icon>
                        <mat-icon *ngIf="!(submittedReview.rating>1)">star_border_icon</mat-icon>
                        <mat-icon *ngIf="!(submittedReview.rating>2)">star_border_icon</mat-icon>
                        <mat-icon *ngIf="!(submittedReview.rating>3)">star_border_icon</mat-icon>
                        <mat-icon *ngIf="!(submittedReview.rating>4)">star_border_icon</mat-icon>
                    </div>
                    <!-- stars end -->
                    <p>{{ submittedReview.review }}</p>
                </mat-card>
                <br>
                <mat-divider></mat-divider>
            </div>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-xxl-6 d-flex justify-content-center">
            <mat-form-field class="example-full-width text-white" appearance="fill">
                <mat-label>Leave a review</mat-label>
                <textarea matInput id="review"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-xxl-6 d-flex justify-content-center">
            <mat-form-field appearance="fill">
                <mat-label>Rating</mat-label>
                    <mat-select [(value)]="rating">
                        <mat-option [value]="0">0</mat-option>
                        <mat-option [value]="1">1</mat-option>
                        <mat-option [value]="2">2</mat-option>
                        <mat-option [value]="3">3</mat-option>
                        <mat-option [value]="4">4</mat-option>
                        <mat-option [value]="5">5</mat-option>
                    </mat-select>
              </mat-form-field>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-xxl-12 mb-4 d-flex justify-content-center">
            <button mat-raised-button color="primary" (click)="submitReview()">Submit Review</button>
        </div>
    </div>
</div>


