<div class="container">
    <!-- <div class="row mt-4">
        <div class="col-xxl-12 d-flex justify-content-center text-white">
            <h1>Dollar App</h1>
        </div>
    </div> -->
    <div class="row">
        <div class="col-xxl-12 d-flex justify-content-center">
            <img src="assets/dollar1.PNG" class="img-fluid" alt="dollar food app logo"><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 d-flex justify-content-center">
            <app-google-sign-in></app-google-sign-in>
        </div>
    </div>
</div>
